header{
    font-family: "Arial", "Times New Roman", "Serif";
    font-size: 1.15rem;
}
h2 {
    font-family: "Arial", "Times New Roman", "Serif";
    font-size: 1.05rem;
}
p{
    font-family: "Arial", "Times New Roman", "Serif";
    font-size: 1rem;
}
#content {
    background-color: #e0e0e0;
}
#topbar{
    background-color: rgb(200, 200, 200);
}