header{
    font-family: "Arial", "Times New Roman", "Serif";
}
p{
    font-family: "Arial", "Times New Roman", "Serif";
    background-color: #e0e0e0
}
#pg {
    style="background-color: #e0e0e0;"
}